@import '../../Styles/Global.scss';

.Container {
  &__footer {
    &-wrapper {
      width: 90%;
      margin: 5rem auto;
      padding: 3rem 0;
      border-top: 1px solid $blue;
    }

    &-info {
      @include flex-evenly;
      align-items: flex-start;

      .brand {
        width: 5%;
        
        .rss-list {
          @include flex-between;
          margin: .6rem 0;
          padding: 0;

          .rss {
            list-style: none;

            .anchor {
              color: $black;

              &:hover{
                color: $pink;
              }
            }
          }
        }
      }

      .block {
        .menu {
          margin: 0;

          .item {
            text-decoration: none;
            list-style: none;

            &:first-child {
              font-weight: 800;
              font-family: $roboto;

              .anchor {
                color: $black;
                font-size: $size-S + .2rem;

                &:hover {
                  color: $black;
                }
              }
            }

            .anchor {
              color: $light-black;
              text-decoration: none;
              font-size: $size-S;

              &:hover {
                color: $pink;
              }
            }
          }
        }
      }
    }
  }
}
