// SIZE
$default-font-size: 16px;
$size-R: 1rem;
$size-S: $size-R - .2rem;
$size-M: $size-R + .6rem;
$size-L: $size-R + 1rem;
$size-XL: $size-R + 2rem;

// FAMILY
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;;
